body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 20px;
}

h1 {
font-size: 1.25rem;
}

p {
  font-size: 1rem;

}


.mensagem {
  color: blue;
  font-weight: bold;
}
